/botsura/nbproject/private/
/botsura/build/
/botsura/dist/
/basededatos/nbproject/private/
/basededatos/build/
/basededatos/dist/
/botsura Archivos/JavaApplication4/nbproject/private/
/botsura Archivos/JavaApplication4/build/
/botsura Archivos/JavaApplication4/dist/
/botSura/nbproject/private/
/botSura/build/
/botSura/dist/